:root {
  --primary: rgb(11, 2, 51);
  --bg: rgb(3, 1, 22);
  --textshadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    0.1px 0.1px 0 #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary);
}

/* navbar */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 6%;
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(0.9);
  z-index: 9999;
}

.navbar img {
  width: 170px;
}

.navbar .navbar-nav a {
  color: var(--bg);
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 0.5rem;
}

.navbar .navbar-nav a:hover,
.navbar .navbar-extra a:hover {
  color: rgb(1, 1, 141);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(1, 1, 141);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: var(--bg);
}

#hamburger-menu {
  display: none;
}

/* Navbar end */

.about .img {
  width: 100%;
  height: 25vh;
  text-align: center;
  padding-top: 4.5rem;
}

.about .img img {
  width: 10%;
  animation: 3s ease-out 0s 1 slideInFromTop;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.about .container {
  background-color: rgb(177, 177, 179);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  overflow: hidden;
}

.content {
  width: 30%;
  height: 100vh;
  margin-top: 4.5rem;
  margin-left: 2rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  background-color: rgb(228, 228, 255);
  border-radius: 10px;
  animation: 3s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.content h2,
.content h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1.3rem;
  font-weight: 700;
}

.content h5,
.content h6 {
  font-size: 1rem;
  margin-bottom: -1rem;
  text-align: center;
  font-weight: 100;
  font-style: italic;
  padding: 0.2rem 4%;
}

.content2 {
  background-color: var(--primary);
  border-radius: 10px;
  margin-top: 4.5rem;
  height: 100vh;
  width: 64%;
  margin-left: 0.5rem;
  margin-right: 2rem;
  animation: 3s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(100%);
  }
}

.content p {
  padding: 0.2rem 8%;
  font-size: 1.1rem;
  font-weight: 400;
}

.content2 h1 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  margin-top: 1.3rem;
}

.content2 p {
  font-size: 1rem;
  font-weight: 100;
  color: #fff;
  padding: 1.1rem 4%;
}

.container a {
  color: white;
  background: var(--primary);
  padding: 0.2rem 0.6rem;
  border-radius: 50px;
  font-size: 20px;
  border: 1px solid white;
  cursor: pointer;
  display: block;
  margin: auto;
}

.container a:hover {
  color: var(--primary);
  background: white;
  border: 1px solid var(--primary);
  box-shadow: 5px 1px 50px rgb(3, 154, 255), 0px 10px 20px 0 rgb(1, 6, 88),
    10px 0px 70px 0 rgb(255, 255, 255) inset;
}

/* media */
/* laptop */
@media (max-width: 1366px) {
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 75%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(255, 255, 255, 0.8);
    width: 20rem;
    height: 100vh;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--primary);
    display: block;
    margin: 1rem;
    padding: 0.2rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }
  .about .img img {
    width: 20%;
  }
  .content2 {
    width: 62%;
  }
}

/* hp */
@media (max-width: 400px) {
}
/* hp small */
@media (max-width: 375px) {
}
/* very small */
@media (max-width: 320px) {
}
