:root {
  --primary: rgb(11, 2, 51);
  --bg: rgb(251, 250, 255);
  --textshadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    0.1px 0.1px 0 #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Edu TAS Beginner", cursive;
  color: var(--primary);
}

/* navbar */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 6%;
  background-color: rgba(3, 1, 37, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(1);
  z-index: 9999;
}

.navbar img {
  width: 200px;
}

.navbar-nav {
  position: absolute;
  right: 5%;
}

.navbar .navbar-nav a {
  display: inline-block;
  color: var(--bg);
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.navbar .navbar-nav a:hover,
.navbar .navbar-extra a:hover {
  color: rgb(13, 230, 5);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(13, 230, 5);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: var(--bg);
}

#hamburger-menu {
  display: none;
}

.about img {
  display: block;
  margin: auto;
  padding-top: 4rem;
  width: 40%;
  animation: 1s ease-out 0s 1 slideInFromTop;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.about .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 4% 2rem;
  background-color: rgb(177, 177, 179);
}

.content {
  width: 35%;
  height: 70vh;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  background-color: rgb(228, 228, 255);
  border-radius: 10px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.content h2,
.content h3,
.content2 h1 {
  font-size: 4rem;
  font-family: "Tangerine";
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.1rem;
  font-weight: 700;
}

.content h5,
.content p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 400;
  padding: 0.2rem 4%;
}

.content p {
  line-height: 1.7rem;
}

.content2 {
  display: inline-block;
  background-color: var(--primary);
  border-radius: 10px;
  margin-top: 0.3rem;
  height: 70vh;
  width: 55%;
  margin-left: 0.5rem;
  margin-right: 2rem;
  animation: 1s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(100%);
  }
}

.content2 h1 {
  color: #fff;
}

.content2 p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  padding: 1.1rem 4%;
}

/* media */

/* tablet */
@media screen and (max-width: 768px) {
  html {
    font-size: 75%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(255, 255, 255, 0.8);
    width: 20rem;
    height: 100vh;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--primary);
    display: block;
    margin: 1rem;
    padding: 0.2rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }

  .container img {
    width: 75%;
    margin-top: 2rem;
  }
}

/* hp */
@media screen and (max-width: 700px) {
  html {
    font-size: 74%;
  }
}
