:root {
  --primary: rgb(11, 2, 51);
  --bg: rgb(3, 1, 22);
  --textshadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    0.1px 0.1px 0 #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary);
}

/* navbar */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 6%;
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(0.9);
  z-index: 9999;
}

.navbar img {
  width: 170px;
}

.navbar .navbar-nav a {
  color: var(--bg);
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 0.5rem;
}

.navbar .navbar-nav a:hover,
.navbar .navbar-extra a:hover {
  color: rgb(1, 1, 141);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(1, 1, 141);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: var(--bg);
}

#hamburger-menu {
  display: none;
}

/* hero */

.hero {
  background-image: url(../img/bg2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

/* hero */

.hero .content {
  padding: 1rem 6%;
  width: 100%;
  height: 100vh;
  animation: 2s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.hero .content img {
  width: 200px;
  display: block;
  margin: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.hero .content h1 {
  color: var(--primary);
  font-size: 6rem;
  text-align: center;
  margin-top: -6rem;
  text-shadow: var(--textshadow);
}

.hero .content h2 {
  font-size: 4rem;
  text-align: center;
  text-shadow: var(--textshadow);
  margin-top: -2rem;
}

.hero .content p {
  font-size: 2rem;
  color: #fff;
  text-shadow: -1px 0 #fff, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 100;
  text-align: center;
}

.hero a {
  color: white;
  background: var(--primary);
  padding: 0.2rem 0.6rem;
  border-radius: 50px;
  font-size: 20px;
  border: 1px solid white;
  cursor: pointer;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.hero a:hover {
  color: var(--primary);
  background: white;
  border: 1px solid var(--primary);
  box-shadow: 5px 1px 50px rgb(3, 154, 255), 0px 10px 20px 0 rgb(1, 6, 88),
    10px 0px 70px 0 rgb(255, 255, 255) inset;
}

/* media */
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 75%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(255, 255, 255, 0.8);
    width: 20rem;
    height: 100vh;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--primary);
    display: block;
    margin: 1rem;
    padding: 0.2rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }
  .hero .content img {
    width: 170px;
  }
}

/* hp */
@media (max-width: 400px) {
  html {
    font-size: 55%;
  }

  .hero .content img {
    padding-top: 12rem;
  }
  .hero .content h2 {
    font-size: 3.6rem;
  }
  .hero .content p {
    font-size: 2.3rem;
  }
  .hero a {
    font-size: 2rem;
    top: 80%;
  }
}
/* hp small */
@media (max-width: 375px) {
  html {
    font-size: 50%;
  }

  .hero .content img {
    padding-top: 12rem;
  }

  .hero .content h1 {
    font-size: 5rem;
    padding-top: 1.3rem;
  }
  .hero .content h2 {
    font-size: 3.5rem;
    padding-top: 1.3rem;
  }
  .hero .content p {
    font-size: 2.5rem;
  }

  .hero a {
    font-size: 2rem;
    top: 80%;
  }
}
/* very small */
@media (max-width: 320px) {
  html {
    font-size: 50%;
  }

  .hero .content h1 {
    font-size: 4.7rem;
    padding-top: 1.3rem;
  }
  .hero .content h2 {
    font-size: 3rem;
    padding-top: 1.3rem;
  }
  .hero .content p {
    font-size: 2rem;
    padding-top: 3rem;
  }
  .hero a {
    font-size: 1.9rem;
    top: 80%;
  }
}
